/* Base Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: rgba(122, 191, 191, 0.5);
}
body {
    width: 414px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* Text Styling */
h1 {
    font-family: "Bebas Neue", cursive;
    font-size: 40px;
    text-align: center;
}
h2 {
    font-family: "Bebas Neue", cursive;
    font-size: 30px;
}
h3 {
    font-family: "Bebas Neue", cursive;
    font-size: 25px;
}
nav a,
menu li,
#connect li,
small,
footer,
span {
    font-family: "Bebas Neue", cursive;
    font-size: 20px;
}
p,
dd,
li,
nav,
input {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
dt {
    font-family: "Montserrat", sans-seif;
    font-size: 16px;
    font-weight: bold;
}
#connect h2,
#search h3,
#navTop h2 {
    display: none;
}
/* Intro */
#intro {
    order: 0;
    background-color: #f2f2f2;
}
.introContainer {
    padding-top: 10px;
}
#intro menu {
    color: #eb5428;
    list-style-type: none;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}
#intro menu li {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
#intro img {
    width: 100%;
}
.paragraphContainer {
    padding: 10px;
    line-height: 1.3;
}
#intro p:last-of-type {
    margin-top: 20px;
}
/* Details */
#details {
    background-color: #f2f2f2;
    width: 100%;
}
#details h2 {
    text-align: center;
    padding: 5px 0;
}
#details dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#details dt {
    grid-column: 1;
    padding-left: 10px;
}
#details dd {
    margin-left: -90px;
    line-height: 1.3;
}
/* Ingredients */
#ingredients {
    background-color: #f2f2f2;
    width: 100%;
    padding: 5px 0 10px 30px;
}
#ingredients h2 {
    text-align: center;
    padding: 5px 0;
}
#ingredients li {
    line-height: 2;
}
/* Directions */
#directions {
    background-color: #f2f2f2;
    padding: 5px 0 10px 30px;
}
#directions h2 {
    text-align: center;
    padding: 5px 0;
}
#directions li {
    padding: 5px 0;
}
/* Side Dishes */
#sideDishes {
    background-color: #7abdbd;
    border-bottom: 20px solid #f2f2f2;
}
#sideDishes h2 {
    text-align: center;
    padding: 5px 0;
}
.recipeCard {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px 0;
}
.recipeCard h3 {
    margin-left: 120px;
    margin-bottom: 5px;
}
.recipeCard p {
    margin-left: 120px;
    margin-bottom: 3px;
}
.recipeCard img {
    height: 85px;
    position: absolute;
    margin-left: 10px;
}
.recipeCard dl {
    margin-left: 120px;
    margin-bottom: 3px;
}
.recipeCard svg {
    padding: 2px;
}
.filled {
    fill: #eb5428;
}
/* Main Navigation */
#navTop {
    order: -1;
    background-color: #fff;
    position: relative;
}
nav ul {
    list-style-type: none;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin-top: 5px;
    max-height: 0;
    overflow: hidden;
    transition: ease-in-out 0.2s;
}

nav li:first-of-type {
    background-color: #eb5428;
    width: 225px;
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.icon-tabler-tools-kitchen {
    margin: 5px auto;
}
nav a {
    color: #eb5428;
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
nav img {
    height: 50px;
    margin-right: 10px;
}
.signIn {
    color: #0d0d0d;
    width: 100px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column-reverse;
}
.icon-tabler-user-circle {
    stroke: #eb5428;
    height: 40px;
}
.hamburger {
    width: 100px;
    height: 70px;
    padding-top: 7px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
.menuBtn {
    display: none;
}
.menuBtn:checked ~ ul {
    max-height: 360px;
    margin-top: 13px;
    transition: ease-in-out 0.2s;
}
/* Search */
#search {
    background-color: #f2f2f2;
    box-shadow: inset 0 3px 5px 0 rgba(13, 13, 13, 0.2);
    display: flex;
    justify-content: center;
    padding: 30px 0 20px 0;
}
input[type="text"] {
    font-size: 16px;
    border: 2px solid #eb5428;
    padding: 10px;
    width: 250px;
}
#search label {
    position: absolute;
    background-color: #eb5428;
    height: 43.5px;
}
.icon-tabler-search {
    stroke: #fff;
    margin: 0 auto;
    padding: 2px;
}
/* Footer */
footer {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
footer menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 30px;
    order: 0;
}
footer menu li {
    display: flex;
    flex-direction: column-reverse;
    color: #eb5428;
    justify-content: center;
    align-items: center;
}
footer img {
    width: 50%;
    margin: 20px auto;
    order: 1;
}
footer small {
    order: 2;
    text-align: center;
}
footer p {
    order: 3;
    text-align: center;
    font-family: "Bebas Neue", cursive;
    font-size: 20px;
}
