/* Base Styles and Text */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: rgba(122, 191, 191, 0.5);
}
body {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
h1 {
    font-family: "Bebas Neue", cursive;
    font-size: 40px;
    text-align: center;
}
h2 {
    font-family: "Bebas Neue", cursive;
    font-size: 30px;
}
h3 {
    font-family: "Bebas Neue", cursive;
    font-size: 25px;
}
nav a,
nav span,
menu li,
small,
footer p {
    font-family: "Bebas Neue", cursive;
    font-size: 20px;
}
p,
dd,
li,
nav,
input {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
dt {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
}
#navTop h2,
#connect h2,
#search h3 {
    display: none;
}
/* Intro */
#intro {
    order: 0;
    background-color: #f2f2f2;
}
.introContainer {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 12% 38% 47%;
}
#intro menu {
    background-color: #fff;
    border: 2px solid #eb5428;
}
#intro menu li {
    color: #eb5428;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 10px 0;
    transition: ease-in-out 0.1s;
}
#intro menu li:hover,
footer menu li:hover {
    color: #0d0d0d;
    transition: ease-in-out 0.1s;
}
#intro img {
    width: 100%;
}
.paragraphContainer {
    padding-right: 5px;
    margin-left: 20px;
    line-height: 2;
}
#intro p:last-of-type {
    margin-top: 20px;
}
#details {
    background-color: #0d0d0d;
    color: #7abdbd;
    width: 100%;
}
#details h2,
#directions h2 {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
}
#details dl {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 10px;
}
#details dt {
    text-align: center;
    grid-row: 1;
}
#details dd {
    text-align: center;
    grid-row: 2;
}
#ingredients {
    background-color: #f2f2f2;
    width: 20%;
    padding: 5px 0 10px 25px;
}
#ingredients h2,
#directions li {
    padding: 10px 0 10px 20px;
}
#ingredients li {
    padding: 5px 0;
}
#directions {
    background-color: #f2f2f2;
    width: 80%;
}
#sideDishes {
    background-color: #7abdbd;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#sideDishes h2 {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.recipeCard {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}
.recipeCard h3 {
    order: 2;
    padding: 5px;
}
.recipeCard img {
    order: 1;
    margin-bottom: 5px;
}
.recipeCard p {
    order: 3;
    width: 97%;
    padding: 0 0 10px 5px;
}
.recipeCard dl {
    order: 4;
    display: flex;
    padding-left: 5px;
}
.recipeCard dt {
    margin-bottom: 15px;
    padding-right: 8px;
}
.filled {
    fill: #eb5428;
}
#navTop {
    order: -1;
    background-color: #fff;
}
.menuBtn,
.hamburger {
    display: none;
}
nav {
    position: relative;
    box-shadow: 0 3px 5px 0 rgb(13, 13, 13, 0.2);
}
nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
nav li a {
    color: #eb5428;
    text-decoration: none;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    transition: ease-in-out 0.1s;
    padding: 10px 0;
}
nav a:hover {
    color: #fff;
    background-color: #eb5428;
    transition: ease-in-out 0.1s;
}
nav li:first-of-type {
    background-color: #eb5428;
    width: 100px;
    height: 123px;
    margin-right: 1vw;
    padding: 0;
}
.icon-tabler-tools-kitchen {
    margin: 20px 15px;
}
nav img {
    width: 40%;
    margin-bottom: 2.5px;
}
.icon-tabler-user-circle {
    stroke: #eb5428;
    height: 75px;
}
.signIn {
    color: #0d0d0d;
    width: 100px;
    margin: -10px 0 0 1vw;
}
.signIn svg {
    margin-bottom: -10px;
    width: 50px;
}
.signIn svg:hover {
    stroke: #fff;
}
#search {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    padding: 40px 0 20px 0;
}
input[type="text"] {
    border: 2px solid #eb5428;
    height: 40px;
    width: 300px;
}
input[type="text"]:focus {
    box-shadow: 0 0 5px 3px rgb(235, 84, 40, 0.5);
}
label[for="searchInput"] {
    background-color: #eb5428;
    height: 40px;
    position: absolute;
}
.icon-tabler-search {
    stroke: #fff;
    padding: 2px;
}
footer {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
footer menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    padding-top: 20px;
}
footer menu li {
    color: #eb5428;
    display: flex;
    flex-direction: column-reverse;
    margin: 0 45px;
}
footer menu li {
    color: #eb5428;
    display: flex;
    flex-direction: column-reverse;
    margin: 0 45px;
}
footer menu svg {
    margin: 0 auto;
}
footer img {
    width: 25%;
    margin: -100px 0 20px 0;
    padding-left: 10px;
}
footer p {
    margin-left: 335px;
}
footer small {
    margin-left: 340px;
}
@media screen and (max-width: 768px) {
    body {
        width: 768px;
    }
    h1 {
        text-align: left;
        padding: 15px 0 25px 0;
        margin-left: 15px;
    }
    #intro img {
        width: 100%;
    }
    .introContainer {
        display: block;
    }
    #intro menu {
        background-color: rgb(242, 242, 242, 0.75);
        border: none;
        z-index: 1;
        height: 90px;
        width: 768px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        margin-top: -1px;
    }
    #details {
        background-color: #f2f2f2;
        color: #0d0d0d;
    }
    #details dl {
        line-height: 1.5;
        grid-template-columns: 1fr 1fr;
        margin-left: 155px;
    }
    #details dt {
        grid-column: 1;
        grid-row: auto;
    }
    #details dd {
        grid-column: 2;
        grid-row: auto;
        margin-left: -325px;
    }
    #ingredients {
        width: 30%;
    }
    #directions {
        width: 70%;
        line-height: 1.5;
    }
    .recipeCard {
        width: 50%;
        position: relative;
        margin-bottom: 10px;
    }
    .recipeCard h3,
    .recipeCard p,
    .recipeCard dl {
        margin: 0 0 5px 110px;
    }
    .recipeCard img {
        width: 28%;
        position: absolute;
    }
    nav ul {
        margin: 90px auto 0 auto;
    }
    nav li:first-of-type {
        width: 90px;
        height: 80px;
        position: absolute;
        top: -90px;
        left: -22px;
        margin: 0;
    }
    .icon-tabler-tools-kitchen {
        margin: 10px 0 10px 15px;
    }

    nav img {
        width: 50%;
    }
    .signIn {
        position: absolute;
        top: -100px;
        right: 0;
        margin: 0;
    }
    .signIn svg {
        width: 45px;
        margin-bottom: -17px;
    }
    #search {
        background-color: transparent;
        position: absolute;
        top: 0;
        margin: -15px 0 0 320px;
    }
    footer img {
        margin-top: -60px;
    }
    footer menu li {
        margin: 0 20px;
    }
    footer small {
        order: 2;
        margin: -10px 0 0 50px;
    }
    footer p {
        order: 3;
        margin-left: 45px;
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 414px) {
    body {
        width: 414px;
    }
    h1 {
        text-align: center;
        padding: 0;
    }
    #intro menu {
        width: 414px;
        background-color: #f2f2f2;
        margin-top: -1px;
    }
    #details dl {
        margin: 0;
    }
    #details dt {
        margin-right: -80px;
    }
    #details dd {
        margin-left: -80px;
    }
    #ingredients {
        width: 100%;
    }
    #ingredients h2 {
        text-align: center;
    }
    #directions {
        width: 100%;
        padding: 0 25px;
    }
    #sideDishes {
        border-bottom: 20px solid #f2f2f2;
    }
    .recipeCard {
        width: 100%;
    }
    .recipeCard img {
        padding-left: 5px;
        width: 24%;
    }
    nav ul {
        flex-direction: column;
        margin: 0;
        transition: ease-in-out 0.2s;
        max-height: 0;
        overflow: hidden;
    }
    nav li:first-of-type {
        top: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 225px;
        height: 75px;
    }
    .icon-tabler-tools-kitchen {
        margin: -1px auto 0 auto;
    }
    nav a {
        flex-direction: row-reverse;
        justify-content: center;
    }
    nav img {
        width: 18%;
        margin-right: 5px;
    }
    .signIn {
        top: -20px;
        display: flex;
        flex-direction: column-reverse;
    }
    .hamburger {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 95px;
        height: 75px;
        cursor: pointer;
        user-select: none;
    }
    .menuBtn:checked ~ ul {
        transition: ease-in-out 0.2s;
        max-height: 375px;
        margin-top: 13px;
    }
    #search {
        position: relative;
        background-color: #f2f2f2;
        margin: 0;
    }
    input[type="text"] {
        width: 250px;
        margin-left: -20px;
    }
    footer menu {
        order: 0;
    }
    footer menu li {
        margin: 0 auto;
        justify-content: center;
    }
    footer img {
        width: 50%;
        margin: 20px auto;
    }
    footer small,
    footer p {
        margin: 0;
        text-align: center;
    }
}
